* {
  box-sizing: border-box;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  min-height: 10vh;
  background: black;
  font: 13px 'Poppins', sans-serif;
  padding: 0.2em 1em;
  color: #918f8ffb;
}

footer a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

footer img {
  width: 10vh;
  height: 8vh;
}

footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

@media (min-width: 1152px) {
  footer {
    position: absolute;
    bottom: 0;
    flex-direction: row;
    padding: 0.2em 2em;
    font-size: 15px;
  }

  .links {
    width: 20%;
  }
}